body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

body .contenedor {
    margin-top: 100px;
    padding: 25px;
}

.formulario {
    margin-bottom: 20px;
}

.tabla-clientes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-clientes th, .tabla-clientes td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-clientes th {
    background-color: #333;
    color: #fff;
}

.tabla-clientes tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-clientes tbody tr:hover {
    background-color: #ddd;
}

/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: auto;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Utilizamos flexbox para alinear los elementos en línea */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos en el contenedor */
}

form label {
    width: calc(50% - 10px); /* El 50% del ancho del contenedor menos el espacio entre elementos */
    margin: 10px 0;
}

form select, form input {
    width: calc(50% - 10px); /* El 50% del ancho del contenedor menos el espacio entre elementos */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button {
    width: 100%; /* Ocupa todo el ancho disponible */
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}


.form-carrito{
    padding: 0%;
    background-color: #555;
    background-color: #333;
}

.input-carrito.cantidad{
    max-width: 40px;
}
.input-carrito{
    max-width: 80px;
}

.error {

    color: red; /* Color de texto rojo para indicar error */
    font-size: 20px; /* Tamaño de fuente más pequeño */
    margin-top: 5px; /* Espacio superior para separar los mensajes de error */
}


.desactivar-btn-cliente{
    pointer-events: none;
    opacity: 0.5; 
}
